.body {
    border: thick black;
}

.navigation-bar {
    border: thick black;
}

.news-button {
    border: thick black;
}

.hiring-button {
    border: thick black;
}

.about-us-button {
    border: thick black;
}

.main-content {
    border: thick black;

}

.header-block {
    border: thick black;

}